|Index Template


div(dropzone, id="farker", class="dropzone")

{{images.length}}
{{perRow}}

button(ng-click="decrease()")
button(ng-click="increase()")

div(ng-repeat="part in partitions")
    div(tile-row="part")



